.aside-heading
	background-color: $color-decoration;
	text-transform: uppercase;
	padding: 4px 12px 8px;
	border-radius: 3px;
	+font-decor
	letter-spacing: 0.15px;
	&_link
		color: #f6f6f6;
		display: block

.aside-article 
	margin: 5px 0;
 &_previw
 	width: 171px
 	height: 186px
	&_heading
		display: block
		color: #042b38;
		+font-main_normal
		font-size: 12px
		text-decoration: underline;
	 padding-left: 3px
		letter-spacing: 0;
	 line-height: 1.5;
	 margin-top: 14px
	&_text
		margin-top: 6px
		margin-bottom: 20px
		color: #757575;
		+font-main_italic
		font-size: 11px;
		line-height: 18px;
		padding-left: 3px
	&_talk
		margin-left: 12px