<aside class="aside">
	<!-- start heading of aside -->
	<h2 class="aside-heading"><a href="#" class="aside-heading_link">hottest video</a></h2>
 <!-- end heading of aside -->

 <!-- start first aside article -->
	<article class="aside-article">
		<a href="" class="aside-article_preview">
			<img src="../../img/aside_1.png" alt="">
		</a>
		<h3><a class="aside-article_heading" href="#">CNN could not verify the authenticity</a></h3>
		<p class="aside-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. <span class="talk aside-article_talk">12</span></p>
	</article>
	<!-- end first aside article -->

	<!-- start second aside article -->
	<article class="aside_article">
		<a href="" class="aside-article_preview">
			<img src="../../img/aside_2.png" alt=""></a>
		<h3><a class="aside-article_heading" href="#">Reids eyes deal to end stalemate over funding</a></h3>
		<p class="aside-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. <span class="talk aside-article_talk">12</span></p>
	</article>
	<!-- end second aside article -->

	<!-- start third aside article -->
	<article class="aside_article">
		<a href="" class="aside-article_preview">
			<img src="../../img/aside_3.png" alt="">
		</a>
		<h3><a class="aside-article_heading" href="#">CNN could not verify the authenticity</a></h3>
		<p class="aside-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. <span class="talk aside-article_talk">12</span></p>
	</article>
	<!-- end third aside article -->
</aside>