<main class="main">

<!-- start article heading -->
	<div class="article-heading"> 
		<h2 class="article-heading_head">Gruesome video shows Syria brutality</h2>
		<p class="article-heading_text">As crackdowns against anti-government protesters continue across</p>
	</div> 
<!-- end article heading -->

<!-- start slider -->
	<div class="slider">
		<p class="slider_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them from a bridge into a river below as cursing filled the air</p>
	</div> 
<!-- end slider -->

<!-- start main articles -->
	<div class="main_articles">

	<!-- start first article-link -->
		<a href="" class="article-link">
			<article class="main-article">
				<img class="main-article_img" src="../../img/main_article_1.png" alt="">
				<h3 href="#" class="main-article_head">CNN could not verify the authenticity</h3>
				<p class="main-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. </p>
				<span class="talk main-article_talk">12</span>
			</article>
		</a>
	<!-- end first article-link -->

	<!-- start second article-link -->
		<a href="" class="article-link">
			<article class="main-article">
				<img class="main-article_img" src="../../img/main_article_2.png" alt="">
				<h3 class="main-article_head">How Much Do You Owe For Lunch? You Decide</h3>
				<p class="main-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. </p>
				<span class="talk main-article_talk">12</span>
			</article>
		</a>
	<!-- end second article-link -->

	<!-- start third article-link -->
		<a href="" class="article-link">
			<article class="main-article">
				<img class="main-article_img" src="../../img/main_article_3.png" alt="">
				<h3 class="main-article_head">Reid eyes deal to end stalemate over funding</h3>
				<p class="main-article_text">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. </p>
				<span class="talk main-article_talk">12</span>
			</article>
		</a>
	<!-- end third article-link -->

	<!-- start fourth article-link -->
		<a href="" class="article-link">
			<article class="main-article">
				<img class="main-article_img" src="../../img/main_article_4.png" alt="">
				<h3 class="main-article_head">Wall Street on Debt Deal So What?</h3>
				<p class="main-article_text">Dow drops more than 250 points as stock markets show no relief from Obama's</p>
				<span class="talk main-article_talk">12</span>
			</article>
		</a>
	<!-- start fourth article-link -->

	</div> 
	<!-- end main articles -->

	{% include "partials/_main-big-articles.html" %}

		</main>