<!-- start article heading -->
	<div class="article-heading"> 
		<h2 class="article-heading_head">In Syria, 'brother of a whore' gets tossed like trash</h2>
		<p class="article-heading_text">As crackdowns against anti-government protesters</p>
	</div> 
<!-- end article heading -->

<!-- start first big article -->
	<div class="big-article">
		<img class="big-article_img" src="../../img/big_article_1.png" alt="">

<!-- start info -->
		<div class="big-article_info">
			<p>A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit. In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. </p>

<!-- 		start socials -->
			<div class="socials">
				<span class="talk">12</span>
				<p class="tags">Tags: 
					<a class="tags_link" href="#">Italy</a>, 
					<a class="tags_link" href="#">Best wine</a>, 
					<a class="tags_link" href="#">Spirit</a>, 
					<a class="tags_link" href="#">World championship</a>, 
					<a class="tags_link" href="#">Eat</a>
				</p>
				<p class="share">Share: 
					<a href="#" class="share_icon facebook"></a>
					<a href="#" class="share_icon twitter"></a>
				</p>
			</div>
<!-- end socials -->

		</div>
<!-- end info -->

	</div> 
<!-- end first big article -->

<!-- start article heading -->
	<div class="article-heading"> 
		<h2 class="article-heading_head">Gruesome video shows Syria brutality</h2>
		<p class="article-heading_text">As crackdowns against anti-government protesters continue across</p>
	</div> 
<!-- end article heading -->

<!-- start second big article -->
	<div class="big-article">
		<img class="big-article_img" src="../../img/big_article_2.png" alt="">

<!-- start info -->
		<div class="big-article_info">
			<p>In a case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues. A federal judge in Ohio ruled Monday that former Rep. Steve Driehaus' defamation suit.</p>

<!-- 		start socials -->
			<div class="socials">
				<span class="talk">12</span>
				<p class="tags">Tags: 
					<a class="tags_link" href="#">Italy</a>, 
					<a class="tags_link" href="#">Best wine</a>, 
					<a class="tags_link" href="#">Spirit</a>, 
					<a class="tags_link" href="#">World championship</a>, 
					<a class="tags_link" href="#">Eat</a>
				</p>
				<p class="share">Share: 
					<span class="share_icon facebook"></span>
					<span class="share_icon twitter"></span>
				</p>
			</div>
<!-- end socials -->

		</div>
<!-- end info -->

	</div>
<!-- end second big article -->